body {
    background-color: white;
    margin: 0;
    color: black;
}

.cf:after {
    content: "";
    display: table;
    clear: both;
}

.container_header,
.container_footer {
    width: 1200px;
    margin: auto;
}

.container,
.opgelet {
    width: 1200px;
    margin: auto;
    padding: 100px 0;
}

header {
    height: 120px;
    padding-top: 25px;
    background-color: slategray;
}


nav {
    width: 800px;
    float: left;
    margin-top: 20px;
}

nav ul li {
    display: inline;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
    padding: 5px 10px;
    border: 1px solid slategray;
    margin-right: 10px;
}

nav a:hover {
    border: 1px solid #a40059;
    
}

.current {
    border: 1px solid #7bbb2b;
}

.headerlogo {
    width: 400px;
    float: left;
}

footer {
    background-color: slategray;
    color: white;
    height: 400px;
    padding: 25px 0;
}

.footer1 ul li {
    display: block;
}

.footer1 p{
    text-align: left;
}

.footer1 a {
    color: #a40059;
    text-decoration: none;
}

.footer1 a:hover {
    color: #7bbb2b;
}

.footer1,
.footer2,
.footer3 {
    width: 400px;
    float: left;
}

.footer1,
.footer3 {
    margin-top: 100px;
}

.footer2 img {
    margin: 0 50px;
    width: 285px;
}

.footer3 ul li {
    display: block;
    margin-top: 20px;
    text-align: center;
}

.footer3 a {
    text-decoration: none;
    color: #a40059;
}

.footer3 a:hover {
    color: #7bbb2b;
}

.intro_home{
    background-image: url(../images/Eetsmakelijk.jpg);
    height: 370px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.home{
    margin-left: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 25px;
    color: white;
    margin-top: 60px;
}

.boeken2{
    padding: 15px 25px;
    background-color: #7bbb2b;
    border-radius: 15px;
    border-style: none;
    margin: 0 60px;
}

.boeken3{
    padding: 15px 25px;
    background-color: #a40059;
    border-radius: 15px;
    border-style: none;
}

.boeken2 a,
.boeken3 a{
    color: white;
    text-decoration: none;
}

.home{
    float: left;
    width: 400px;
}

.video {
    margin: 50px 320px;
}

.video1 {
    margin-bottom: 50px;
}

.groen {
    height: 5px;
    border-width: 0;
    color: #7bbb2b;
    background-color: #7bbb2b;
}

h1::first-letter {
    font-size: 60px;
    font-weight: bold;
    color: #7bbb2b;
}

h1 {
    text-align: center;
}

.intro1,
.intro2 {
    width: 400px;
    float: left;
    padding: 50px 100px;
}

.intro1,
.intro2,
.barbeque,
.ontbijt,
.feestmenu,
.lente,
.buffet,
.food_drinks,
.bowling,
.partybowling,
p {
    text-align: center;
}

.boeken button {
    padding: 15px 25px;
    background-color: #a40059;
    border-radius: 15px;
    border-style: none;
}

.boeken a {
    color: white;
    text-decoration: none;
}

.paars {
    height: 5px;
    border-width: 0;
    color: #a40059;
    background-color: #a40059;
}

.activiteiten,
.eten_drinken,
.event,
.feestzaal {
    width: 200px;
    height: 250px;
    float: left;
    margin: 100px 40px;
    text-align: center;
    background-color: #BBB;
    padding: 25px 10px;
}

.ster,
.glas,
.kalender,
.feest {
    color: #7bbb2b;
}

.goud {
    color: gold;
}

.review1,
.review2,
.review3 {
    width: 125px;
    height: 175px;
    float: left;
    margin: 100px 125px;
    text-align: center;
    background-color: ##BBB;
    padding: 25px 10px;
}

.nieuwsbrief {
    text-align: center;
}

.nieuwsbrief button.inschrijven {
    padding: 15px 25px;
    background-color: #a40059;
    border-radius: 15px;
    border-style: none;
}

.inschrijven a {
    color: white;
    text-decoration: none;
}

.image-holder {
    border: 2px solid #76af46;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    width: 398px;
    height: 247px;
}

.image-holder img {
    position: relative;
    z-index: -1;
    left: 10px;
    top: 10px;
}

.image-holder2 {
    border: 2px solid #a40059;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    width: 398px;
    height: 247px;
}

.image-holder2 img {
    position: relative;
    z-index: -1;
    left: 10px;
    top: 10px;
}

.border {
    border-radius: 10px;
    border-style: none;
}

.barbeque,
.ontbijt,
.feestmenu,
.lente,
.buffet,
.food_drinks,
.bowling,
.partybowling,
.binnenspeeltuin2,
.communie,
.minigolf,
.kinderfeest,
.team,
.vergader,
.seminarie,
.bedrijfevent {
    width: 400px;
    float: left;
    margin: 50px 100px;
}

.boeken {
    text-align: center;
}

.bowling_arrangement,
.binnenspeeltuin,
.multisport {
    width: 300px;
    float: left;
    margin: 50px 50px;
}

.binnenspeeltuin h1,
.multisport h1 {
    margin-bottom: 57px;
}

.knop1 {
    margin-top: 50px;
}

.image-holder3 {
    border: 2px solid #a40059;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    width: 297;
    height: 247;
}

.image-holder3 img {
    position: relative;
    z-index: -1;
    left: 10px;
    top: 10px;
}

.informatie button {
    padding: 15px 25px;
    margin-top: 25px;
    background-color: #76af46;
    border-radius: 15px;
    border-style: none;
}

.informatie {
    text-align: center;
}

.informatie a {
    text-decoration: none;
    color: white;
}

.gegevens,
.formulier {
    width: 600px;
    float: left;
}

.formulier {
    border-radius: 50px;
}

.gegevens p {
    text-align: left;
}

.gegevens h1 {
    text-align: left;
}

.gegevens a {
    text-decoration: none;
    color: #7bbb2b;
}

h2::first-letter {
    font-weight: bold;
    color: #7bbb2b;
}

.formulier {
    background-color: ##BBB;
}

.formulier p {
    text-align: left;
}

.breed {
    padding-left: 100px;
}

.required:after {
    content: " *";
    color: #a40059;
}

.verzend {
    padding: 15px 25px;
    background-color: #a40059;
    border-radius: 15px;
    border-style: none;
    margin-left: 100px;
    color: white;
}

.sportbar,
.keuken,
.opening {
    width: 400px;
    float: left;
}

.error {
    color: #a40059;
}

.prijzen,
.kids,
.disco,
.students,
.bier,
.ladies {
    width: 300px;
    height: 400px;
    float: left;
    background-color: grey;
    margin: 50px 50px;
}

.prijzen p {
    margin-top: 60px;
}

.kids p {
    margin: 60px 70px 0;
}

.students h2,
.bier h2,
.ladies h2 {
    text-align: center;
}

.formulier_reservering {
    background-color: #BBB;
    width: 800px;
    margin: 0 auto;
    padding-top: 10px;
    border-radius: 50px;
}

.formulier_reservering p {
    text-align: left;
}

.form2colum {
    width: 50%;
    float: left;
}

.border2 {
    margin: 9px 0 0 5px;
    padding: 5px 10px;
    border-radius: 15px;
    border: 0px;
}

.border3 {
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 15px;
    border: 0px;
}

label{
    font-size: 20px;
}

.verzend_formulier {
    padding: 15px 25px;
    margin: 25px 0 50px 25px;
    background-color: #a40059;
    border-radius: 15px;
    border-style: none;
    color: white;
}

.menu2colum {
    width: 44%;
    padding-left: 3%;
    padding-right: 3%;
    float: left;
}

.menu2colum p {
    text-align: left;
    padding-left: 25px;
}

.menu2colum h3 {
    margin: 40px 0 0;
    color: #a40059;
    font-size: 2em;
}

.menukaart {
    width: 800px;
    margin: auto;
    background-color: #FCE5AB;
    padding: 20px 30px 50px;
}

.menulinks {
    width: 80%;
    float: left;
}

.menulinks p {
    font-size: 1.5em;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 0;
}

.menurechts {
    width: 20%;
    float: left;
}

.menurechts p {
    font-size: 1.5em;
    text-align: right;
    padding-right: 20px;
    margin-bottom: 0;
}

.kader {
    width: 300px;
    float: left;
    margin: 0 50px;
}

.kaderfoto {
    margin-top: 110px;
}


.food,
.drinks,
.foto,
.prijs,
.inbegrepen,
.grill,
.rib,
.pasta,
.party,
.special,
.prijs2,
.prijs3,
.info2,
.prijs4,
.menu_feest,
.formule1,
.formule2,
.menu_lente,
.prijs_lente,
.team2,
.voorbeeld,
.prijs_binnenspeeltuin,
.combi {
    width: 300px;
    height: 400px;
    background-color: grey;
}

.food p,
.drinks p {
    padding: 100px 80px;
}

.prijs p {
    padding: 50px 25px 0;
}

.opgelet h1 {
    text-align: left;
    margin-left: 300px;
}

.opgelet h2 {
    text-align: left;
    margin-bottom: 25px;
    margin-left: 300px;
}

.opgelet p {
    text-align: left;
    margin-left: 300px;
}

.kaderfoto2 {
    margin-top: 90px;
}

.grill p,
.rib p,
.pasta p {
    padding-top: 25px;
}

.kader h2 {
    text-align: center;
}

.grill h3,
.rib h3,
.prijs2 h3,
.special h3,
.pasta h3,
.prijs3 h3,
.formule1 h3,
.formule2 h3 {
    text-align: center;
    padding-top: 15px;
}

.party p {
    padding-top: 60px;
}

.info {
    padding: 15px 25px;
    margin-top: 50px;
    background-color: #76af46;
    border-radius: 15px;
    border-style: none;
}

.info a {
    color: white;
    text-decoration: none;
}

button.info {
    margin-left: 100px;
}

.fotokader3 {
    margin-top: 85px;
}

.fotokader4{
    margin-top: 65px;
}

.info2 p {
    padding: 75px 50px 0;
}

.prijs4 p {
    padding-top: 50px;
}

.menu_feest p {
    padding-top: 7.5px;
}

.formule1 p,
.formule2 p,
.prijs_lente p,
.prijs_binnenspeeltuin p,
.combi p {
    padding-top: 50px;
}

.menu_lente p {
    padding-top: 35px;
}

.contacteer {
    padding: 15px 25px;
    margin: 25px 0 50px 25px;
    background-color: #76af46;
    border-radius: 15px;
    border-style: none;

}

button.contacteer {
    margin-left: 80px;
}

.contacteer a {
    color: white;
    text-decoration: none;
}

.team2 p,
.voorbeeld p {
    padding: 75px 50px;
}

.menukaart2 {
    padding: 25px 45px;
    margin: 50px 0;
    background-color: #a40059;
    border-radius: 15px;
    border-style: none;
}

.menukaart2 a {
    text-decoration: none;
    color: white;
}

button.menukaart2 {
    margin-left: 570px;
}

.container_nieuwsbrief {
    width: 1200px;
    margin: auto;
    padding: 100px 0;
}

.container_nieuwsbrief p {
    text-align: left;
    margin-right: 25px;
}

.brief {
    padding: 25px 45px;
    margin: 50px 0;
    background-color: #a40059;
    border-radius: 15px;
    border-style: none;
}

.inschrijven_nieuwsbrief {
    width: 600px;
    float: left;
}

.inschrijven_nieuwsbrief h1{
    margin: 0 150px;
}

.inschrijven_nieuwsbrief p{
    margin: 50px 150px;
    font-size: 24px;
}

.center {
    width: 600px;
    float: left;
}

.groene_letter{
    color: #76af46;
    font-size: 35px;
}

#mc_embed_signup {
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
}

#mc-embedded-subscribe-form input[type=checkbox] {
    display: inline;
    width: auto;
    margin-right: 10px;
}

#mergeRow-gdpr {
    margin-top: 20px;
}

#mergeRow-gdpr fieldset label {
    font-weight: normal;
}

#mc-embedded-subscribe-form .mc_fieldset {
    border: none;
    min-height: 0px;
    padding-bottom: 0px;
}