@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    background-color: white;
    margin: 0;
    color: black;
    font-family: Vollkorn;
}

p{
    font-size: 1.2em;
}

.cf:after {
    content: "";
    display: table;
    clear: both;
}

.container_header,
.container_footer {
    width: 1200px;
    margin: auto;
}

.container,
.opgelet {
    width: 1200px;
    margin: auto;
    padding: 100px 0;
}

header {
    height: 120px;
    background-color: #333;
    padding: 40px 0 15px;
}

nav {
    width: 800px;
    float: left;
    margin-top: 20px;
}

nav ul li {
    display: inline;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
    padding: 5px 10px;
    border: 2px solid #333;
    margin-right: 10px;
}

nav a:hover {
    border: 2px solid #a40059;

}

.current {
    border: 2px solid #7bbb2b;
}

.headerlogo {
    width: 400px;
    float: left;
}

footer {
    background-color: #333;
    color: white;
    height: 400px;
    padding: 40px 0 60px;
}

.fav {
    margin-top: 30px;
}

.footer1 ul li {
    display: block;
}

.footer1 p {
    text-align: left;
}

.footer1 a {
    color: #7bbb2b;
    text-decoration: none;
}

.footer1 a:hover {
    border-bottom: 2px solid #a40059;
}

.footer1,
.footer2,
.footer3 {
    width: 400px;
    float: left;
}

.footer1,
.footer3 {
    margin-top: 100px;
}

.footer2 img {
    margin: 0 50px 25px;
    width: 285px;
}

.footer3 ul li {
    display: block;
    margin-top: 20px;
    text-align: center;
}

.footer3 a {
    text-decoration: none;
    color: #7bbb2b;
}

.footer3 a:hover {
    border-bottom: 2px solid #a40059;
}

.intro_home {
    background-image: url(../images/Eetsmakelijk.jpg);
    height: 370px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.home {
    margin-left: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 25px;
    color: white;
    margin-top: 60px;
}

.knop_uitlijn {
    margin: 0 60px;
}

.button_groen {
    background-color: #7bbb2b;
}

.button_paars {
    background-color: #a40059;
}

.button_groen,
.button_paars {
    color: white;
    border-radius: 15px;
    border-style: none;
    padding: 15px 25px;
}

.button_groen:hover {
    text-decoration: underline #A40159;
    cursor: pointer;
}

.button_paars:hover {
    text-decoration: underline #79B928;
    cursor: pointer;
}

.home {
    float: left;
    width: 400px;
}

.video {
    margin: 50px 320px;
    width: 560px; 
    height: 315px;
}

.video1 {
    margin-bottom: 50px;
    width: 560px; 
    height: 315px;
}

.groen {
    height: 5px;
    border-width: 0;
    color: #79B928;
    background-color: #79B928;
}

h1::first-letter {
    font-size: 60px;
    font-weight: bold;
    color: #7bbb2b;
}

h1 {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.intro1,
.intro2 {
    width: 400px;
    float: left;
    padding: 50px 100px;
}

.intro1,
.intro2,
.barbeque,
.ontbijt,
.feestmenu,
.lente,
.buffet,
.food_drinks,
.bowling,
.partybowling,
p {
    text-align: center;
}

.paars {
    height: 5px;
    border-width: 0;
    color: #A40159;
    background-color: #A40159;
}

.activiteiten,
.eten_drinken,
.event,
.feestzaal {
    width: 200px;
    height: 250px;
    float: left;
    margin: 100px 40px;
    text-align: center;
    background-color: #c4c4c4;
    padding: 25px 10px;
}

.ster,
.glas,
.kalender,
.feest,
.socials {
    color: #7bbb2b;
    font-size: 30px;
}

.socials {
    padding-right: 10px;
}

.eten_drinken a {
    text-decoration: none;
    color: #a40059;
}

.eten_drinken a:hover {
    border-bottom: 1px solid #7bbb2b;
}

.goud {
    color: gold;
}

.review1,
.review2,
.review3 {
    width: 150px;
    height: 175px;
    float: left;
    margin: 50px 112.5px;
    text-align: center;
    background-color: #c4c4c4;
    padding: 25px 10px;
}

.nieuwsbrief {
    text-align: center;
}

.image-holder-groen {
    border: 2px solid #76af46;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
}

.image-holder-paars {
    border: 2px solid #a40059;
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
}

.image-holder-groen img,
.image-holder-paars img {
    position: relative;
    z-index: -1;
    left: 10px;
    top: 10px;
}

.verschuif {
    position: relative;
    z-index: -1;
    left: 10px;
    bottom: 10px;
}

.verschuif2 {
    position: relative;
    z-index: -1;
    left: 10px;
}

.verschuif3 {
    position: relative;
    z-index: -1;
    left: 10px;
    bottom: 8px;
}

.verschuif4 {
    position: relative;
    z-index: -1;
    left: 10px;
    top: 10px;
}

.formaat_400_250 {
    width: 397px;
    height: 247px;
}

.formaat_400_250 img {
    width: 400px;
    height: 250px;
}

.formaat_300_400 {
    width: 297px;
    height: 397px;
}

.formaat_300_400 img {
    width: 300px;
    height: 400px;
}

.formaat_300_250 {
    width: 297px;
    height: 247px;
}

.formaat_300_250 img {
    width: 300px;
    height: 250px;
}

.formaat_600_770 {
    width: 600px;
    height: 770px;
}

.formaat_800_632 {
    width: 800px;
    height: 632px;
}

.formaat_600_900 {
    width: 600px;
    height: 910px;
}

.border {
    border-radius: 10px;
    border-style: none;
}

.barbeque,
.ontbijt,
.feestmenu,
.lente,
.buffet,
.food_drinks,
.bowling,
.partybowling,
.binnenspeeltuin2,
.communie,
.minigolf,
.kinderfeest,
.team,
.vergader,
.seminarie,
.bedrijfevent {
    width: 400px;
    float: left;
    margin: 50px 100px;
}

.minigolf2{
    margin-top: 0px;
}

.boeken {
    text-align: center;
}

.bowling_arrangement,
.binnenspeeltuin,
.multisport {
    width: 300px;
    float: left;
    margin: 50px 50px;
}

.binnenspeeltuin h1,
.multisport h1 {
    margin-bottom: 57px;
}

.margin_top_50 {
    margin-top: 50px;
}

.informatie .button_groen {
    margin-top: 25px;
}

.informatie {
    text-align: center;
}

.kader_contact,
.kader_reservering {
    border: 5px solid #79B928;
    border-radius: 50px;
    position: relative;
    right: 25px;
    bottom: 25px;
}

.gegevens,
.formulier {
    width: 600px;
    float: left;
    z-index: -10;
}

.formulier {
    border-radius: 50px;
}

.gegevens p {
    text-align: left;
    margin-top: 10px;
}

.gegevens h1 {
    text-align: left;
}

.gegevens h2 {
    margin: 50px 0 10px;
}

.gegevens a {
    text-decoration: none;
    color: #7bbb2b;
}

h2::first-letter {
    font-weight: bold;
    color: #7bbb2b;
}

.students h2::first-letter,
.bier h2::first-letter,
.ladies h2::first-letter {
    color: black;
}

.formulier {
    background-color: #c4c4c4;
}

.formulier p {
    text-align: left;
}

.breed {
    padding-left: 100px;
}

.required:after {
    content: " *";
    color: #a40059;
}

.verzend {
    padding: 15px 25px;
    background-color: #a40059;
    border-radius: 15px;
    border-style: none;
    margin-left: 100px;
    color: white;
}

.sportbar,
.keuken,
.opening {
    width: 400px;
    float: left;
    text-align: center;
}

.error {
    color: #a40059;
}

.prijzen,
.kids,
.students,
.bier,
.ladies {
    width: 300px;
    height: 400px;
    background-color: #c4c4c4;
}

.disco{
width: 300px;
height: 400px;
float: left;
margin: 35px 50px;
}

.prijzen p,
.kids p {
    margin: 0 35px;
}

.top3 {
    padding-top: 60px;
}

.students h2,
.bier h2,
.ladies h2 {
    text-align: center;
}

.formulier_reservering {
    background-color: #C4C4C4;
    width: 800px;
    margin: 0 auto;
    padding-top: 0px;
    border-radius: 50px;
}

.formulier_reservering p {
    text-align: left;
}

.form2colum {
    width: 50%;
    float: left;
}

.border2 {
    margin: 9px 0 0 5px;
    padding: 5px 10px;
    border-radius: 15px;
    border: 0px;
}

.border3 {
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 15px;
    border: 0px;
}

label {
    font-size: 20px;
}

.verzend_formulier {
    margin: 25px 0 50px 25px;
}

.menu2colum {
    width: 44%;
    padding-left: 3%;
    padding-right: 3%;
    float: left;
}

.menu2colum p {
    text-align: left;
    padding-left: 25px;
    font-size: 14px;
}

.menu2colum h3 {
    margin: 40px 0 0;
    color: #a40059;
    font-size: 2em;
}

.menukaart {
    width: 800px;
    margin: auto;
    background-color: #FCE5AB;
    padding: 20px 30px 50px;
}

.menulinks {
    width: 80%;
    float: left;
}

.menulinks p {
    font-size: 1.5em;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 0;
}

.menurechts {
    width: 20%;
    float: left;
}

.menurechts p {
    font-size: 1.5em;
    text-align: right;
    padding-right: 20px;
    margin-bottom: 0;
}

.kader {
    width: 300px;
    float: left;
    margin: 0 50px;
}

.kaderfoto {
    margin-top: 110px;
}


.food,
.drinks,
.prijs,
.inbegrepen,
.grill,
.rib,
.pasta,
.party,
.special,
.prijs2,
.prijs3,
.info2,
.prijs4,
.menu_feest,
.formule1,
.formule2,
.menu_lente,
.prijs_lente,
.team2,
.voorbeeld,
.prijs_binnenspeeltuin,
.combi {
    width: 300px;
    height: 400px;
    background-color: #c4c4c4;
}

.inbegrepen p {
    margin-right: 10px;
}

.food p,
.drinks p {
    padding: 100px 80px;
}

.prijs p {
    padding: 50px 25px 0;
}

.opgelet h1 {
    text-align: left;
    margin-left: 300px;
}

.opgelet h2 {
    text-align: left;
    margin-bottom: 25px;
    margin-left: 300px;
}

.opgelet p {
    text-align: left;
    margin-left: 300px;
}

.kaderfoto2 {
    margin-top: 90px;
}

.grill p,
.pasta p {
    padding-top: 25px;
}

.kader h2 {
    text-align: center;
}

.grill h3,
.rib h3,
.special h3,
.prijs3 h3,
.formule1 h3,
.formule2 h3 {
    text-align: center;
    padding-top: 15px;
}

.prijs2 p,
.top {
    padding-top: 10px;
    margin: 10px 15px;
}

.grill p,
.rib p,
.pasta p,
.party p {
    margin: 10px 20px;
}

.menu_feest p {
    margin: 10px;
}

.top2 {
    padding-top: 25px;
}

.party p {
    padding-top: 60px;
}

.info {
    margin: 50px 0 0 100px;
}

.fotokader1 {
    margin-top: 68px;
}

.fotokader2 {
    margin-top: 73px;
}

.fotokader3 {
    margin-top: 85px;
}

.fotokader4 {
    margin-top: 60px;
}

.fotokader5 {
    margin-top: 102px;
}

.fotokader6 {
    margin-top: 112px;
}

.info2 p {
    padding: 50px 50px 0;
}

.prijs4 p {
    margin: 0 10px;
}

.formule1 p,
.formule2 p,
.prijs_lente p {
    padding-top: 40px;
}

.formule2 p {
    margin: 0 20px;
}

.menu_lente p {
    padding-top: 25px;
    margin: 0 15px;
}

.contacteer {
    margin: 20px 0 0 80px;
}

.contacteer a {
    color: white;
    text-decoration: none;
}

.team2 p,
.voorbeeld p {
    padding: 75px 50px 0;
}

.menukaart2 {
    padding: 25px 45px;
    margin-bottom: 50px;
}

.midden {
    text-align: center;
}

.container_nieuwsbrief {
    width: 1200px;
    margin: auto;
    padding: 100px 0;
}

.container_nieuwsbrief p {
    text-align: left;
    margin-right: 25px;
}

.brief {
    padding: 25px 45px;
    margin: 50px 0 30px;
    background-color: #a40059;
    border-radius: 15px;
    border-style: none;
}

.inschrijven_nieuwsbrief {
    width: 600px;
    float: left;
}

.inschrijven_nieuwsbrief h1 {
    margin: 0 150px;
}

.inschrijven_nieuwsbrief p {
    margin: 50px 150px;
    font-size: 24px;
}

.center {
    width: 600px;
    float: left;
}

.groene_letter {
    color: #76af46;
    font-size: 35px;
}

#mc_embed_signup {
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    margin-top: 50px;
}

#mc-embedded-subscribe-form input[type=checkbox] {
    display: inline;
    width: auto;
    margin-right: 10px;
}

#mergeRow-gdpr {
    margin-top: 20px;
}

#mergeRow-gdpr fieldset label {
    font-weight: normal;
}

#mc-embedded-subscribe-form .mc_fieldset {
    border: none;
    min-height: 0px;
    padding-bottom: 0px;
}